.styled-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.h1 {
  font-family: sans-serif;
}

.h3 {
  font-family: sans-serif;
}

.h2 {
  font-family: sans-serif;
}

.user_details {
  font-family: sans-serif;
}
button {
  background-color: #009879;
  color: white; /* Text color */
  padding: 10px 24px;
}

.btn-close {
  background-color: #dddddd;
  float: right;
}

.form.label {
  font-family: sans-serif;
}
.menubar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 10px;
  display: inline-flexbox;
}

table tbody {
  display: block;
  max-height: 800px;
  overflow-y: scroll;
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.pagination {
    margin-top: 45px;
    margin-left: -40px;
    display: flex;
    list-style: none;
    outline: none;
   }
    
   .pagination>.active>a {
    background-color: #009879;;
    color: #fff;
   }
    
   .pagination>li>a {
    border: 1px solid #009879;;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
   }
    
   .pagination>li>a, .pagination>li>span {
    color: #47ccde;
    background-color: azure;
   }